{% extends "layout.html" %}

{%block body %}

        <a id ='start' type="submit" class="synch">Inizializza Acquisizione Dati</a>
        <!-- <button id = 'reset' type="reset">Reset</button> -->
        <div>
            <img id="image" src="" width="600px" height="auto">
        </div>
        <form action="/view_file" method="get">
            <input autocomplete="on" autofocus required name="file_name" placeholder="File Name" type="text">
            <button type="submit">Load File</button>
        </form>


        <div id="result-list">
            {% for file in results %}
            <div class="result-entry" href="/view_file/">{{file}}</div>
            {% endfor %}

        </div>

{% endblock %}