<!DOCTYPE html>
<html lang="en">
    <header>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/
1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='/JS/index.js')}}"></script>
    </header>
    <head>
        <meta charset="UTF-8">
        <title>Machine Control</title>
    </head>
    <body>
        <button id ='start' type="submit" class="synch">Inizializza Acquisizione Dati!</button>
        <!-- <button id = 'reset' type="reset">Reset</button> -->
        <img id="image" src="">
    </body>
</html>