<!DOCTYPE html>
<html lang="en">
    <header>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/
1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='/JS/index.js')}}"></script>

<link rel="stylesheet" href="{{url_for('static', filename='/CSS/index.css')}}">
        <div id = "header">
            <img src="https://home.infn.it/images/news/LOGO_INFN_NEWS_sito.jpg" id="logo" width="15%" height="auto">
            <nav> <a href="/">dashboard</a></nav>
        </div>
    </header>
    <head>
        <meta charset="UTF-8">
        <title>{{page_title|default("Machine Control", true)}}</title>
        
    </head>
    <body>

        {% block body %}{% endblock %}
    </body>
</html>

